
.git/


# Node modules
node_modules/

# Environment variables
.env

# Dependency directories
src/node_modules/






# Temp Directories
./src/cache/gld-configs/
./src/cache/lg/






# VS_CODE
.vscode/



# Debug or log files
debug.log
*.log



# System files
.DS_Store

ToDo.txt

